<section class="card">
  <a href="/comment/{{id}}">
    <header>{{content}}</header>

    <div class="card-body">
      <p>By: {{user.username}}</p>
      <p>Date Created: {{created}}</p>
    </div>
  </a>
</section>
