<form id="edit-comment">
    <input type="text" id="comment-id"  style="display: none" value={{comment.id}}></input>    
    <input type="text" id="comment-content" name="comment-content" placeholder={{comment.content}}/>
    <button type="submit">Edit</button>
</form>

<script src="/js/edit-comment.js"></script>
