<form id="edit-post">
    <input type="text" id="post-id"  style="display: none" value={{post.id}}></input>    
    <input type="text" id="post-title" name="post-title" placeholder={{post.title}}/>
    <input type="text" id="post-content" name="post-content" placeholder={{post.content}}/>
    <button type="submit">Edit</button>
</form>

<script src="/js/edit-post.js"></script>
