<form id="create-post">
    <input type="text" id="post-title" name="post-title" placeholder="Title of Post"/>
    <input type="text" id="post-content" name="post-content" placeholder="Content of Post"/>
    <button type="submit">Submit</button>
</form>

<script src="js/new-post.js"></script>